* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url(../img/download.gif);
  background-size: 1920px,1080px;
  background-position-x: 100px;
}
header{
  background-color: aqua;
  height: 50px;
}
header H1{

}
.item {
  background-color: rgb(78, 78, 78);
  border: 3px solid black;
  border-radius: 20px;
  height: 100px;
  width: 100px;
  margin: 20px;
}